<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ganyu Bot</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.2/iconfont/material-icons.min.css'><link rel="stylesheet" href="./../static/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="row no-gutters">
        <!-- Sebelah kanan (profile bot)-->
        <div class="col-md-4 border-right">
          <div style="position: sticky; top: 0;">
              <img class="ganyu-bot-image" src="https://upload-os-bbs.hoyolab.com/upload/2021/01/06/5481824/171904fd00cc4d8a7bfdb918021bfdfa_1069856773048174498.png?x-oss-process=image/auto-orient,0/interlace,1/format,png" alt="Ganyu img">
          </div>
        </div>
        <!-- Sebelah kiri (chat room)/chatbox-->
        <div class="col-md-8">
            <div class="chat-panel">
              <section id="chat-panel"></section>
              <section id="bottom-chat"></section>
                <div class="row" style="position:absolute; bottom:0;">
                  <div class="col-12">
                    <form method="post">
                      <div class="chat-box-tray" method="post">
                        <input type="text" placeholder="Type your message here..."  name ="chatform" id="textBox">
                        <a href = "#textBox"><button type="submit" class="btn btn-default" value ="submit">Send</button></a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>
	</div>
  </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="./static/script2.js"></script>
  <script>
    var chat = '{{chat|tojson}}'.replaceAll("\n", "<br>");
    chat = JSON.parse(chat);
    updateChatBox(chat);
    document.getElementById("bottom-chat").scrollIntoView();
    document.getElementById('textBox').focus();
  </script>

</body>
</html>
