<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ganyu Bot</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.2/iconfont/material-icons.min.css'><link rel="stylesheet" href="./static/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="row no-gutters">
        <!-- Sebelah kanan (profile bot)-->
        <div class="col-md-4 border-right">
            <img class="ganyu-bot-image" src="https://upload-os-bbs.hoyolab.com/upload/2021/01/06/5481824/171904fd00cc4d8a7bfdb918021bfdfa_1069856773048174498.png?x-oss-process=image/auto-orient,0/interlace,1/format,png" alt="Ganyu img">
        </div>
        <!-- Sebelah kiri (chat room)/chatbox-->
        <div class="col-md-8 border-right">
            <div class="chat-panel">
              <section id="chat-panel"></section>
                <div class="row">
                  <div class="col-12">
                    <form method="post">
                      <div class="chat-box-tray" method="post">
                        <input type="text" placeholder="Type your message here..."  name ="chatform">
                        <input class= "chatbutton" type="submit" id = "chatcontent">
                      </div>
                    </form>
                    
                  </div>
                </div>
              </div>
          </div>
          <script>
            var userChat = '{{userChat|tojson}}';
            userChat = JSON.parse(userChat);
            var botChat = '{{botChat|tojson}}';
            botChat = JSON.parse(botChat);

            for(var i = 0; i < Object.keys(userChat).length; i++){
              var chatRoom = document.getElementById("chat-panel")
              var lapis1 = document.createElement("div");
              lapis1.className += "row no-gutters";
              var lapis2 = document.createElement("div");
              lapis2.className += "col-md-3 offset-md-9";
              var lapis3 = document.createElement("div");
              lapis3.className += "chat-bubble chat-bubble--right";
              var isi = document.createTextNode(userChat[i]);
              console.log(userChat[i])
              // console.log(isi);
              // console.log(lapis3);
              lapis3.appendChild(isi);
              lapis2.appendChild(lapis3);
              lapis1.appendChild(lapis2);
              chatRoom.appendChild(lapis1);
            }
            for(var i = 0; i < Object.keys(botChat).length; i++){
              var chatRoom = document.getElementById("chat-panel")
              var lapis1 = document.createElement("div");
              lapis1.className += "row no-gutters";
              var lapis2 = document.createElement("div");
              lapis2.className += "col-md-3";
              var lapis3 = document.createElement("div");
              lapis3.className += "chat-bubble chat-bubble--left";
              var isi = document.createTextNode(botChat[i]);
              console.log(botChat[i])
              lapis3.appendChild(isi);
              lapis2.appendChild(lapis3);
              lapis1.appendChild(lapis2);
              chatRoom.appendChild(lapis1);
            }
          </script>
	</div>
  </div>
<!-- partial -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="./../static/script.js"></script> -->

</body>
</html>
